.grass{
  position:absolute;

  bottom:-60px;

  width:160%;
  left:-30%;

  height:260px;

  background:
  linear-gradient(
    to top,
    #7ad66d,
    #a8f29f
  );

  border-radius:
  50% 50% 0 0;

  z-index:1;
}
